# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.swimming-simulator.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityPorject\siwm_simulator\swimming-simulator\.idea\.idea.swimming-simulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
